* {
  font-family: Arial, Helvetica, sans-serif;
}

.a {
  color: black;
  text-decoration: none;
}

.SignIn {
  text-align: center;
}

.Articles {
  text-align: center;
  text-overflow: ellipsis;
  margin-bottom: 1px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #b6b6b6;
}

.Welcome {
  padding-left: 30px;
  text-decoration: orange;
  text-decoration-line: underline;
  text-shadow: 1px 1px rgb(129, 129, 129);
}

.Home-title {
  padding-left: 30px;
  text-decoration: orange;
  text-decoration-line: underline;
  text-shadow: 1px 1px rgb(129, 129, 129);
}

.Home-header {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #b6b6b6;
  box-shadow: 2px 2px #929292;
}

.ArtText {
  color: black;
  text-align: center;
  text-decoration: orange;
  text-decoration-line: underline;
  text-shadow: 1px 1px rgb(129, 129, 129);
}

.Article-title {
  color: black;
  text-decoration: orange;
  text-decoration-line: underline;
  text-shadow: 1px 1px rgb(129, 129, 129);
}

.Article-body {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.Page-button {
  text-align: center;
}

.Topic-slug {
  text-transform: capitalize;
  position: relative;
  margin-left: 6%;
  color: black;
  text-decoration: orange;
  text-decoration-line: underline;
}

.Topic-description {
  position: relative;
  margin-left: 6%;
}

.Topics {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #b6b6b6;
  margin-bottom: 2px;
  margin-left: 5%;
  margin-right: 5%;
}

.i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.Author {
  color: grey;
  font-size: 100%;
  line-height: 0.3;
  text-transform: capitalize;
  text-decoration: orange;
  text-decoration-line: underline;
}

.Comments {
  text-transform: capitalize;
  text-decoration: orange;
  text-decoration-line: underline;
  color: grey;
}

.Post-article {
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
  margin-left: 50px;
  border: none;
  padding-left: 50px;
  font-size: 150%;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  color: orange;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 1s;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: orange transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Sort-DropText {
  position: relative;
  left: 140px;
  top: 70px;
}

.Sort-DropDown {
  position: relative;
  left: 180px;
  top: 35px;
}

.Order-DropDown {
  position: relative;
  left: 305px;
  bottom: 35px;
}

.Order-DropText {
  position: relative;
  left: 255px;
  top: 1px;
}

.DropSubmit {
  position: relative;
  left: 320px;
  bottom: 35px;
}

.QueryForm {
  margin-bottom: -7%;
}

.Nav-Button1 {
  font-size: 90%;
  position: relative;
  left: 40px;
}

.Nav-Button2 {
  font-size: 90%;
  position: relative;
  left: 50px;
}
.Nav-Button3 {
  font-size: 90%;
  position: relative;
  left: 60px;
}

.Nav-Alignment {
  margin-bottom: 20px;
  margin-top: 10px;
}

.Slug-label {
  position: relative;
  left: 85vh;
  margin-bottom: 1%;
}

.Slug-input {
  position: relative;
  left: 85vh;
  margin-bottom: 1%;
}

.Desc-label {
  position: relative;
  left: 77vh;
  bottom: 1.75vw;
}

.Desc-input {
  position: relative;
  left: 77vh;
  margin-bottom: 1%;
}

.Topic-submit {
  position: relative;
  left: 94vh;
}

.Post-Topic-Title {
  text-align: center;
  position: relative;
}

.Users {
  position: relative;
  left: 10vh;
}

.User-name {
}

.User-username {
  text-transform: capitalize;
  text-decoration: orange;
  text-decoration-line: underline;
  color: black;
}

.Avatar-img {
  position: relative;
  left: 10vh;
}
